header{
background-color:#CEE5D0;
color: #f00606;
text-align: center;
font-size:xx-large;

}
nav ul{
    background-color: #FF7878;
    list-style: none;
}
nav ul li a{
    display: block;
    color: rgb(204, 240, 199);
    text-decoration: none;
    transition: margin-left 1.5s;
    transition: color;
}
nav ul li a:hover{
    margin-left: 30px;
    color: rgb(34, 136, 21);
}
section{
    background-color: #E0C097;
    grid-column: 1/4;
    text-align: center; 
}
h3{
    color: darkslateblue;
    font-size: xx-large;
    }
.otros{
    color: rgb(165, 88, 88);
    font-size: x-large;
   
}
aside{
    background-color: #F3F0D7;
    grid-column: 4/5;
    
}
footer{
    background-color: #CEE5D0;
    text-align: center;
    font-size: small;
    color: rgb(250, 110, 85);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h5{
    color: darkslateblue;
    font-size: xx-large;
    }
